@model IEnumerable<CodeFirst.Model.Category>

@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>

<p>
    <a asp-action="CreateCategory">Createaaaa New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditCategory" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="CategoryDetails" asp-route-id="@item.ID">Details</a> |
                <a asp-action="DeleteCategory" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
